*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: crimson;
}

.card{
    width: 600px;
    background: #ccc;
    padding: 20px;
    margin: 10px;
    line-height: 28px;
}

::-webkit-scrollbar{
    background: transparent;
    width: 7px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(#21d4fd, #b721ff);
border-radius: 50px;
}